<app-navbar></app-navbar>
<body>
    <main id="fondo-imagen">
        <div class="titulo-destino">  
            <h2>¿Te importa si el alojamiento está en el centro de la 
                ciudad o prefieres las afueras?                    
                </h2>
        </div>
        <section>
              <div class="cards" >
                <div class="card" >
                    <img src="../../../../assets/Imagenes/a.ciudad.jpg" class="internacional" alt="Internacional">
                    <h5 class="title"> Centro de la ciudad</h5>
                    <div class="selector"><input type="radio" name="card" class="internacional"></div>
                  </div>

                  <div class="card" >
                    <img src="../../../../assets/Imagenes/b-afueras.jpg" class="nacional" alt="Nacional">
                    <h5 class="card-title">Afueras</h5>
                    <div class="selector"><input type="radio" name="card" class="nacional"></div>
                  </div>

                  <div class="card" >
                    <img src="../../../../assets/Imagenes/c.indiferente.jpg" class="indiferente" alt="Indiferente">
                    <h5 class="card-title"> Indiferente</h5>
                    <div class="selector"><input type="radio" name="card" class="indiferente"></div>
                  </div>
              </div>
              
              <div class="botones">
              <div class="anterior">
                <button type="button" class="btn btn-danger p-2"><a routerLink="/preguntas/s4-p1">Anterior</a></button>
              </div>

              <div class="listo">
                <button type="button" class="btn btn-success p-2"><a routerLink="/preguntas/planes">¡Estoy listo!</a></button>
              </div>

              <div class="continue2">
                <button type="button" class="btn btn-primary p-2" (click)="validarSeleccion($event)" ><a routerLink="/preguntas/s5-p1">Siguiente</a></button>
              </div>  
            </div>  
        </section>
    </main>

</body>