<app-navbar></app-navbar>
<body>
  <main id="fondo-imagen">
    <div class="titulo-destino">  
      <h2>¿Qué tipo de entorno prefieres para tus vacaciones?</h2>
    </div>
    <div class="cards" >
      <div class="card">
      <label for="playa">
        <img src="../../../../assets/Imagenes/1-playa.jpg" alt="Playa">
        <h5 class="title">Playa</h5>
        <div class="selector">
          <input type="radio" name="card" value="playa" id="playa">
        </div>
      </label>
      </div>

      <div class="card">
        <label for="montaña">
        <img src="../../../../assets/Imagenes/2-montaña.jpg" alt="Montaña">
        <h5 class="title">Montaña</h5>
        <div class="selector">
          <input type="radio" name="card" value="montaña" id="montaña">
        </div>
      </label>
      </div>

      <div class="card">
        <label for="ciudad">
        <img src="../../../../assets/Imagenes/3-ciudad.jpg" alt="Ciudad">
        <h5 class="title">Ciudad</h5>
        <div class="selector">
          <input type="radio" name="card" value="ciudad" id="ciudad">
        </div>
      </label>
      </div>
    </div>

    <div class="botones">
      <button (click)="validarSeleccion()" class="btn btn-primary p-2">Siguiente</button>
    </div>    
  </main>
</body>
