<app-navbar></app-navbar>

<div class="body">
<main>
    <div class="welcome">
      <div class="ms-5">
        <h1><span>Hola.</span><br>Somos<span> Ama</span>deus</h1>
        <P class="my-3">Quieres conocer cual es tu destino ideal</P>
        <a href="#Descubre">Descubre tu próximo destino ideal</a>
      </div>
    </div>
  </main>
  <section>

    <div class="row m-0">
      <div class="col-2"></div>
      <div class="col-8 m-5 ms-0">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner rounded-3">
            <div class="carousel-item active">
              <img src="../../../assets/Imagenes/1-paris.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/cartagena.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/interlaken.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/3-NewYork.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/Machu-Picchu.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/ibiza.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/Tulum.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/Londres.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/roma.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="../../../assets/Imagenes/innsbruck.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <div class="row m-4">
      <div class="col-2"></div>
      <div class="juego col-8 border">
        <div class="border border-2 rounded-2" id="Descubre">
          <p>¡Descubre tu destino turístico ideal!</p>
          <button type="button" class="btn btn-primary"><a routerLink="/preguntas/s1-p1">Comenzar</a></button>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
<app-footer></app-footer>