<app-navbar></app-navbar>
<body>
    

<main id="fondo-imagen">
    <div class="titulo-destino">  
        <h2>¿Qué clima prefieres durante tus vacaciones?</h2>
    </div>
    <section>
          <div class="cards" >
            <div class="card" >
                <img src="../../../../assets/Imagenes/Calor.jpg" class="Caluroso" alt="Caluroso">
                <h5 class="title">Caluroso</h5>
                <div class="selector"><input type="radio" name="card" class="Caluroso"></div>
              </div>

              <div class="card" >
                <img src="../../../../assets/Imagenes/Templado.jpg" class="Templado" alt="Templado">
                <h5 class="card-title">Templado</h5>
                <div class="selector"><input type="radio" name="card" class="Templado"></div>
              </div>

              <div class="card" >
                <img src="../../../../assets/Imagenes/Frio.png" class="Frio" alt="Frio">
                <h5 class="card-title">Frío</h5>
                <div class="selector"><input type="radio" name="card" class="Frio"></div>
              </div>
          </div>
          
          <div class="botones">
          <div class="anterior">
            <button type="button" class="btn btn-danger p-2"><a routerLink="/preguntas/s1-p2">Anterior</a></button>
          </div>

          <div class="listo">
            <button type="button" class="btn btn-success p-2"><a routerLink="/preguntas/planes">¡Estoy listo!</a></button>
          </div>

          <div class="continue2">
            <button type="button" class="btn btn-primary p-2" (click)="validarSeleccion($event)" ><a routerLink="/preguntas/s2-p2">Siguiente</a></button>
          </div>  
        </div>  
    </section>
</main>
</body>