<app-navbar></app-navbar>
<body>
  <main>
    <div class="titulo-destino">  
      <h2>{{ tituloPregunta }}</h2>
    </div>
    <div class="cards">
      <div *ngFor="let opcion of opciones" class="card">
        <label for="{{opcion.value}}">
        <img [src]="opcion.imageUrl" [alt]="opcion.label" >
        <h5 class="title">{{ opcion.label }}</h5>
        <div class="selector">
          <input type="radio" name="card" [value]="opcion.value" id="{{ opcion.value }}" >
        </div>
        </label>
      </div>
    </div>

    <div class="botones">
      <div class="anterior">
      <button (click)="irAnterior()" class="btn btn-danger p-2">Anterior</button>
    </div>
    <div class="listo">
    <button (click)="navigateToPlanes()" class="btn btn-success p-2">
      !Estoy Listo!
    </button>
  </div>
    <div class="continue">
      <button type="button" (click)="validarSeleccion()" class="btn btn-primary p-2">Siguiente</button>
    </div>
    </div>    
  </main>
</body>
