*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{
    background-color: #060724;
    color: white;
}

main{
    background-color: #060724;
}

header{
    height: 4rem;
    background-color: white;
    color: black;
    overflow: hidden;
    padding-bottom: 5rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.icono{
    margin: 10px 20px;
    width: 60px;
    height: 60px;
}

.titulo-destino{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin: 5px;
    
    h2{
        background-color: #060724;
        width: 40%;
        border-radius: 6px;
    }
}

.cards{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-around;
    /* gap: 20px */

    h5{
        text-align: center;
    }
}

.card{
    width: 100%;
    max-width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    h5{
        text-align: center;
    }

    img{
        width: 100%;
    }
}



.card:hover{
    width: 20rem;
    height: 17rem;

    transform: scale(1.05);
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.selector{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.selector input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.selector input[type="radio"]:checked::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #060724;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botones{
    display: flex;
    justify-content: space-around;
    padding: 40px;

    & .btn a{
        color: white;
        text-decoration: none;
    }

    & .listo{
        padding: 50px;
    }
}


/* Media Queries para responsividad */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: none;
    }

    .botones {
        flex-direction: row;
        align-items: center;
    }

    .botones .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .icono {
        width: 40px;
        height: 40px;
    }

    .titulo-destino h2 {
        width: 90%;
    }
}
