<app-navbar></app-navbar>
<body>
    <main id="fondo-imagen">
        <div class="titulo-destino">
          <h2>¿Te molesta la lluvia en tus vacaciones?</h2>
        </div>
        <section>
          <div class="cards">
            <div class="card">
              <img
                src="../../../../assets/Imagenes/1.seco.jpg"
                class="clima-seco"
                alt="Clima seco"/>
              <h5 class="title">Sí, prefiero clima seco</h5>
              <div class="selector">
                <input type="radio" name="card" class="clima-seco" />
              </div>
            </div>
  
            <div class="card">
              <img
                src="../../../../assets/Imagenes/2.lluvia.jpg"
                class="poca-lluvia"
                alt="Lluvia"/>
              <h5 class="card-title">No me importa un poco de lluvia</h5>
              <div class="selector">
                <input type="radio" name="card" class="poca-lluvia" />
              </div>
            </div>
  
            <div class="card">
              <img
                src="../../../../assets/Imagenes/3.lluvias-ocasionales.jpg"
                class="lluvia-ocasional"
                alt="Lluvia ocasional"
                height="180rem" />
              <h5 class="card-title">Prefiero destinos con lluvias ocasionales</h5>
              <div class="selector">
                <input type="radio" name="card" class="lluvia-ocasional" />
              </div>
            </div>
          </div>
  
          <div class="botones">
            <div class="anterior">
              <button type="button" class="btn btn-danger p-2">
                <a routerLink="/preguntas/s2-p1">Anterior</a>
              </button>
            </div>
  
            <div class="listo">
              <button type="button" class="btn btn-success p-2"><a routerLink="/preguntas/planes">¡Estoy listo!</a></button>
            </div>
  
            <div class="continue2">
              <button type="button" class="btn btn-primary p-2" (click)="validarSeleccion($event)" >
                <a routerLink="/preguntas/s3-p1" >Siguiente</a></button>
            </div>
          </div>
        </section>
      </main>
  
</body>