*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #060724;
    color: white;
}

header{
    height: 4rem;
    background-color: white;
    color: black;
    padding: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mapamundi{
    width: 40%;
}

.mapamundi img{
    width: 100%;
}

.welcome{
    
    background-image: url(../Imagenes/imagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}


.icono{
    margin: 10px 20px;
    width: 60px;
    height: 60px;
}


nav{
    display: flex;
    flex-direction:row;
    align-items: center;
    font-size: 1.3rem;
}


.boton-inicio{
    height: 40px;
    width: 180px;
    color:white;
    background-color: #004AAD;
    border-radius: 0.6rem;
    border: none;
    font-size: 1.3rem;
    
    &:hover{
        background-color: rgb(93, 93, 170);
    }
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
    
    a {
        text-decoration: none;
        color: rgb(77, 74, 74);
    }
    &:hover{
        text-decoration: underline;
    }
}

h1{
    color: white;
}
span{
    color: aqua;
}
 
main p, main a{
    color: white;
    font-size: 30px;
    font-weight: 90;
    margin-left: 10px;
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
}

.juego {
    background-image: url(../Imagenes/multi-city.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.juego div {
    width: 35%;
    height: 35%;
    background-color: white;
    opacity: 0.6;
}

.juego div p{
    margin-top: 10%;
    color: black;
    opacity: 1;
}

footer {
    height: 6rem;
    display: flex;
    align-items: center;

    div {
        margin-left: 70%;
    }
    

}
